<div class="container">
<div ng-include="'app/partials/nav.html'"></div>
<div> THIS IS A SPECIFIC EVENT</div>
  <div class="row feed-filter">
    <div class="col-lg-3 col-md-3 text-hide">&nbsp;</div>

  </div>

  <div class="event-details row">
    <p class="event-title">{{event.name}}</p>
    <p class="event-date">{{event.date}} @ {{event.time}}</h2>
    <br>
    <hr>
  </div>
  <div>
    <br>
    <p class="current-leader-title">Current Leader: <span class="current-leader">{{event.restaurant.name}}</span></p>
  </div>

 <div class="row">
 <img src="/../../../assets/loading.gif" ng-show="loading" class="center-block">
 <div class="col-lg-3 col-sm-6 col-md-3" data-ng-repeat="restaurant in data.restaurants.data.businesses">
   <div class="thumbnail" ng-class="{'existing-thumb' : data.currentRestaurants[restaurant.id]}">
         <img ng-src="{{restaurant.image_url}}" alt="{{restaurant.name}}" class="img-rounded">
         <div class="caption">
           <span class="thumbnail-title">{{restaurant.name}}</span>
           <address>
             <span ng-repeat="address in restaurant.location.display_address">{{address}}<br></span>
           </address>
           <a class="btn btn-success" role="button" ng-click="addOne(restaurant)" ng-hide="data.currentRestaurants[restaurant.id]">
           <span role="button" class="glyphicon glyphicon-plus"></span> Add
           </a>
           <span ng-show="data.currentRestaurants[restaurant.id]"><strong>Already Added</strong></span>
         </div>
       </div>
       </div>
 </div>
 </div> 
