<div class="container">
<div ng-include="'app/partials/nav.html'"></div>
  <div class="row feed-filter">
    <div class="col-lg-3 col-md-3 text-hide">&nbsp;</div>
  </div>

  <div class="event-details row">
    <p class="event-title">{{eventData.event.name}}</p>
    <p class="event-date">When: {{eventData.event.date | date:'medium'}} </p>
    <p class="event-date">Details: {{eventData.event.description}}</p>
    <button class="btn btn-warning" ng-Click="addToEvent()">Add a place</button>
    <hr>
  </div>

   <!--Add Dashboard Items-->
  <div class="row">
    <div class="col-lg-3 col-sm-6 col-md-3" ng-repeat="restaurant in eventData.event.options track by $index">
      <div class="thumbnail">
        <img ng-src="{{restaurant.image_url}}" alt="{{restaurant.name}}" class="img-rounded">
        <div class="caption">
          <span class="thumbnail-title">{{restaurant.name}}</span>
          <div class="row category-holder">
            <span class="glyphicon glyphicon-tag"></span>
          </div>
          <div class="row">
            <span>Votes: {{restaurant.numVotes}}</span>
            <a role="button" class="btn btn-primary" ng-click="vote(restaurant, restaurant._id)">
              <span>Vote</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
