<div class="container">
<div ng-include="'app/partials/nav.html'"></div>
  <div class="row feed-filter">
    <div class="col-lg-3 col-md-3 text-hide">&nbsp;</div>
  </div>

  <div class="event-details row">
    <p class="event-title">{{eventData.event.name}}</p>
    <p class="event-date">When: {{eventData.event.date}} @ {{eventData.event.time}}</p>
    <p class="event-date">Time: {{eventData.event.date}} @ {{eventData.event.time}}</p>
    <hr>
  <button class="btn btn-default" ng-Click="addToEvent()">Add a place</button>
  </div>


   <!--Add Dashboard Items-->
  <div class="row">
    <div class="col-lg-3 col-sm-6 col-md-3" ng-repeat="restaurant in eventData.event.options track by $index">
      <div class="thumbnail">
        <img ng-src="{{restaurant.image_url}}" alt="{{restaurant.name}}" class="img-rounded">
        <div class="caption">
          <span class="thumbnail-title">{{restaurant.name}}</span>
          <div class="row category-holder">
            <span class="glyphicon glyphicon-tag"></span>
            <!-- <span ng-repeat="category in .restaurant.categories">
            <span ng-hide="category === restaurant.categories[0]">, </span>{{category}}</span> -->
          </div>
          <div class="row">
            <a role="button" class="btn btn-primary" ng-click="vote(restaurant, restaurant._id)">
            <span class="glyphicon glyphicon-thumbs-up">Vote {{restaurant.numVotes}}</span>
            
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

 <!-- <div class="row">
 <img src="/../../../assets/loading.gif" ng-show="loading" class="center-block">
 <div class="col-lg-3 col-sm-6 col-md-3" data-ng-repeat="restaurant in data.restaurants.data.businesses">
   <div class="thumbnail" ng-class="{'existing-thumb' : data.currentRestaurants[restaurant.id]}">
         <img ng-src="{{restaurant.image_url}}" alt="{{restaurant.name}}" class="img-rounded">
         <div class="caption">
           <span class="thumbnail-title">{{restaurant.name}}</span>
           <address>
             <span ng-repeat="address in restaurant.location.display_address">{{address}}<br></span>
           </address>
           <a class="btn btn-success" role="button" ng-click="addOne(restaurant)" ng-hide="data.currentRestaurants[restaurant.id]">
           <span role="button" class="glyphicon glyphicon-plus"></span> Add
           </a>
           <span ng-show="data.currentRestaurants[restaurant.id]"><strong>Already Added</strong></span>
         </div>
       </div>
       </div>
 </div> -->
 </div> 
